server:
  port: 8082
spring:
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP:localhost:9092}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
  redis:
    host: ${REDIS_HOST:localhost}
    port: ${REDIS_PORT:6379}
ingest:
  topic: toll.tag.event
